body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #A4D8E1;
    margin: 20px;
}

header {
    text-align: center;
}

#table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #F1D4E7;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

table, th, td {
    border: 2px solid #ffa6bf;
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #F27C9D;
    color: black;
    font-weight: bold;
}

tr:hover {
    background-color: #E8F5F2;
}

.negotiate {
    color: #FF8C00;
    font-weight: bold;
}

/* Adjusted width for four columns */
td {
    width: 25%; /* Each column takes up 25% of the table width */
}
